include CONTRIBUTING.md
include LICENSE
include README.md

recursive-include netbox_c3nav/templates *
recursive-include netbox_c3nav/static *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

graft templates