/* external */
@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";

/* map */

#map {
    flex-grow: 1;
}

#page-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

div.page-body {
    flex-grow: 1;
}

div.page-body div.container-fluid {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;
}

div.map-item-list {

  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  /*align-items: stretch;*/
  justify-content: flex-start;

  & > ul {
    min-height: 0;
    overflow-y: scroll;
    /* because css somtimes is garbage this is the only way to prevent this div from growing that I know of */
    height: calc(100vh - 240px);
    --map-item-list-message-opacity: 1;

    li[aria-roledescription=draggable][aria-grabbed=true]::after,
    li.saving::after, li.saved::after, li.saving-failed::after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--tblr-primary-darken);
      content: "";
    }

    li.saving::after, li.saved::after, li.saving-failed::after {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      font-weight: bold;
      font-style: oblique;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.10);
      opacity: var(--map-item-list-message-opacity);
    }

    li.saving::after {
      content: "Saving...";
    }

    li.saved::after {
      background-color: var(--tblr-green-darken);
      color: var(--tblr-green-fg);
      content: "Saved...";
    }

    li.saving-failed::after {
      background-color: var(--tblr-red-darken);
      color: var(--tblr-red-fg);
      content: "Error";
    }
  }
}


/* leaflet */

/* all controls */

.leaflet-control {
  body[data-bs-theme="light"] & {
    --leaflet-control-border-color: color-mix(in srgb, var(--tblr-secondary-color) 40%, transparent);
  }

  body[data-bs-theme="dark"] & {
    --leaflet-control-border-color: color-mix(in srgb, var(--tblr-border-color) 40%, transparent);
  }
}

/* leaflet controls based on c3nav */

/* layer control */

.leaflet-control.leaflet-control-levels,
.leaflet-control.leaflet-control-levels.leaflet-bar {

  /*
  body[data-bs-theme="light"] & {
    //border: 2px solid color-mix(in srgb, var(--tblr-secondary-color) 40%, transparent);
    border: 2px solid var(--leaflet-control-border-color);
  }

  body[data-bs-theme="dark"] & {
    //border: 2px solid color-mix(in srgb, var(--tblr-border-color) 40%, transparent);
    border: 2px solid var(--leaflet-control-border-color);
  }
  */

  body[data-bs-theme="light"] & {
    --leaflet-control-bar-item-border-color: color-mix(in srgb, var(--tblr-secondary-color) 30%, transparent);
    --leaflet-control-bar-item-bg-color: color-mix(in srgb, var(--tblr-body-bg) 80%, transparent);
    --leaflet-control-bar-item-active-bg-color: color-mix(in srgb, var(--tblr-primary-darken) 85%, transparent);
  }

  body[data-bs-theme="dark"] & {
    --leaflet-control-bar-item-border-color: color-mix(in srgb, var(--tblr-secondary-color) 80%, transparent);
    --leaflet-control-bar-item-bg-color: color-mix(in srgb, var(--tblr-body-bg) 80%, transparent);
    --leaflet-control-bar-item-active-bg-color: color-mix(in srgb, var(--tblr-primary-darken) 85%, transparent);
  }

  background-color: var(--leaflet-control-bar-item-bg-color);
  border: 2px solid var(--leaflet-control-border-color);

  a {
    color: var(--tblr-heading-color);
    background: none;
    background-clip: padding-box;
    border-bottom: 1px solid var(--leaflet-control-bar-item-border-color);

    &.current {
      background: var(--leaflet-control-bar-item-active-bg-color);
      background-clip: padding-box;
      font-weight: bold;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}


/* overlay control */

.leaflet-control.leaflet-control-overlays {
  --leaflet-control-overlays-border-color: var(--leaflet-control-border-color);

  /*
  //--leaflet-control-overlays-border-color: color-mix(in srgb, var(--tblr-secondary-color) 40%, transparent);

  body[data-bs-theme="light"] & {
    //border: 2px solid color-mix(in srgb, var(--tblr-border-color) 100%, transparent);
    --leaflet-control-overlays-border-color: color-mix(in srgb, var(--tblr-secondary-color) 40%, transparent);
  }

  body[data-bs-theme="dark"] & {
    --leaflet-control-overlays-border-color: color-mix(in srgb, var(--tblr-border-color) 40%, transparent);
  }
  */

  body[data-bs-theme="light"] & {
    --leaflet-control-overlays-pin-border-color: rgba(0, 0, 0, 0.4);
  }
  body[data-bs-theme="dark"] & {
    --leaflet-control-overlays-pin-border-color: rgba(255, 255, 255, 0.7);
  }

  background-color: color-mix(in srgb, var(--tblr-body-bg) 80%, transparent);
  background-clip: padding-box;
  border-radius: 0.5rem;
  border: 2px solid var(--leaflet-control-overlays-border-color);

  &.leaflet-control-overlays-expanded > .collapsed-toggle {
    display: none;
  }

  > .pin-toggle {
    display: none;
    position: absolute;
    right: 0.5rem;
    font-size: 1.5rem;
    top: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-clip: padding-box;
    border: 1px solid var(--leaflet-control-overlays-pin-border-color);
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;

    &::before {
      padding-top: 1px;
    }

    &:hover {
      box-shadow: inset 0 0 2px black;
    }

    &.active {
      //border-color: black;
      background: color-mix(in srgb, var(--tblr-primary-darken) 85%, transparent);
      background-clip: padding-box;
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.9);
    }

    &::before, &.active:hover::before {
      content: "󰐄";
    }

    &.active::before, &:hover::before {
      content: "󰐃";
    }
  }

  &.leaflet-control-overlays-expanded > .pin-toggle {
    display: block;
  }

  > .content {
    display: none;
    max-height: calc(100vh - 160px);
    overflow: scroll;

    padding: 1rem;
    flex-direction: column;
    gap: 0.25rem;

    .overlay-group {
      display: flex;
      flex-direction: column;

      &:first-child {
        margin-top: 0.25rem;
      }

      h4 {
        margin-top: 0;
        margin-bottom: 0;
        cursor: pointer;

        &::before {
          content: '▹ ';
        }
      }

      label {
        cursor: pointer;
        margin-left: 3ch;
      }

      input[type=checkbox] {
        margin-right: 0.5rem;
      }
    }

    .overlay-group.expanded {
      h4 {
        margin-bottom: 0.5rem;
      }

      h4::before {
        content: '▿ ';
      }
    }

    .overlay-group:not(.expanded) label {
      height: 0;
      overflow: hidden;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.leaflet-control-overlays-expanded > .content {
    display: flex;
  }
}


.leaflet-control-layers-overlays label {
  margin-bottom: 0;
}

.leaflet-control-layers-overlays input[type="checkbox"] {
  margin: 2px 0 0;
  top: 2px;
}

.leaflet-container .leaflet-control-layers-expanded {
  min-width: 75px;
}

.leaflet-overlay-pane .leaflet-interactive {
  cursor: inherit;
}

.leaflet-editable-drawing .leaflet-overlay-pane .leaflet-interactive, #map .leaflet-overlay-pane .c3nav-graph-space {
  cursor: crosshair;
}

#map .leaflet-overlay-pane .c3nav-highlight, #map .leaflet-overlay-pane .c3nav-graph-node,
#map .leaflet-overlay-pane .c3nav-graph-other-space {
  cursor: pointer;
}


/* Material Design Icons Leaflet Marker */

.leaflet-icon-mdi {
  --leaflet-icon-mdi-marker-size: 30px;
  --leaflet-icon-mdi-marker-width: var(--leaflet-icon-mdi-marker-size);
  --leaflet-icon-mdi-marker-height: calc(var(--leaflet-icon-mdi-marker-size) / cos(pi / 4));
  --leaflet-icon-mdi-marker-color: var(--tblr-primary);
  --leaflet-icon-mdi-marker-background-size: calc(var(--leaflet-icon-mdi-marker-size) * .75);
  --leaflet-icon-mdi-marker-background-color: var(--tblr-bg-surface-inverted);
  --leaflet-icon-mdi-icon-size: calc(var(--leaflet-icon-mdi-marker-size) * .70);
  --leaflet-icon-mdi-icon-color: var(--tblr-primary-fg);
  --leaflet-icon-mdi-animation-duration: 0.75s;

  width: var(--leaflet-icon-mdi-marker-width);
  height: var(--leaflet-icon-mdi-marker-height);
  margin-left: calc(var(--leaflet-icon-mdi-marker-width) / -2);
  margin-top: calc(var(--leaflet-icon-mdi-marker-height) * -1);

  color: var(--leaflet-icon-mdi-icon-color);

  &.leaflet-icon-mdi-marker-background {
    --leaflet-icon-mdi-icon-size: calc(var(--leaflet-icon-mdi-marker-size) * .6);
    --leaflet-icon-mdi-icon-color: var(--tblr-text-inverted);
  }

  &.leaflet-icon-mdi-round {
    --leaflet-icon-mdi-marker-width: var(--leaflet-icon-mdi-marker-size);
    --leaflet-icon-mdi-marker-height: var(--leaflet-icon-mdi-marker-size);
    margin-left: calc(var(--leaflet-icon-mdi-marker-width) / -2);
    margin-top: calc(var(--leaflet-icon-mdi-marker-height) / -2);
  }

  &.leaflet-icon-mdi-icon-only {
    --leaflet-icon-mdi-icon-size: var(--leaflet-icon-mdi-marker-size);
    --leaflet-icon-mdi-icon-color: var(--tblr-primary);
    width: var(--leaflet-icon-mdi-icon-size);
    height: var(--leaflet-icon-mdi-icon-size);
    margin-left: calc(var(--leaflet-icon-mdi-icon-size) / -2);
    margin-top: calc(var(--leaflet-icon-mdi-icon-size) / -2);
  }

  & &-marker {
    position: absolute;
    left: 50%;
    top: 50%;
    width: var(--leaflet-icon-mdi-marker-size);
    height: var(--leaflet-icon-mdi-marker-size);
    border-radius: 50% 50% 50% 0;
    transform: translate(-50%, -50%) rotate(-45deg);
    background: var(--leaflet-icon-mdi-marker-color);
  }

  &.leaflet-icon-mdi-round &-marker {
    border-radius: 50%;
  }

  &.leaflet-icon-mdi-icon-only &-marker {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  &.leaflet-icon-mdi-animated {
    transition:
      width var(--leaflet-icon-mdi-animation-duration) ease-in-out,
      height var(--leaflet-icon-mdi-animation-duration) ease-in-out,
      margin-left var(--leaflet-icon-mdi-animation-duration) ease-in-out,
      margin-top var(--leaflet-icon-mdi-animation-duration) ease-in-out,
      border-radius var(--leaflet-icon-mdi-animation-duration) ease-in-out;
  }

  .leaflet-icon-mdi-marker-background &-marker::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: var(--leaflet-icon-mdi-marker-background-size);
    height: var(--leaflet-icon-mdi-marker-background-size);
    border-radius: 50%;
    background: var(--leaflet-icon-mdi-marker-background-color);
    transform: translate(-50%, -50%) rotate(-45deg);
    content: '';
  }

  & &-icon {
    position: absolute;
    width: 1em;
    height: 1em;
    font-size: var(--leaflet-icon-mdi-icon-size);
    line-height: 1;
    top: calc(50% - 0.52em);  // 0.52 looks better
    left: calc(50% - 0.5em);
  }

  & &-icon.mdi-hexagon-multiple::before {
    transform: translate(1px, 0px);
  }

  @keyframes leaflet-icon-mdi-rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes leaflet-icon-mdi-rotating-hexagons {
    from {
      transform: rotate(0deg) translate(1px, 0px)
    }
    to {
      transform: rotate(360deg) translate(1px, 0px)
    }
  }

  &.leaflet-icon-mdi-icon-rotating &-icon::before {
    animation: leaflet-icon-mdi-rotating 2s linear infinite;
  }
  &.leaflet-icon-mdi-icon-rotating &-icon.mdi-hexagon-multiple::before,
  &.default-device:hover &-icon.mdi-hexagon-multiple::before {
    animation: leaflet-icon-mdi-rotating-hexagons 2s linear infinite;
  }
}

.netbox-c3nav-dnd-overlay {
  transform-origin: var(--dnd-transform-origin);

  &:not([data-dnd-dragging]) {
    display: none;
  }

  &-origin-offset {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    translate: var(--dnd-transform-origin) 0;
  }

  .leaflet-icon-mdi {
    position: absolute;
    left: 0;
    top: 0;
  }
}