{% extends 'generic/_base.html' %}
{% load buttons %}
{% load render_table from django_tables2 %}
{% load static %}
{% load perms %}
{% load helpers %}

{% block title %}Map{% if edit %} - Edit Device Positions{% endif %}{% endblock %}

{% block head %}
    {% if settings.DEVELOPER %}
    <link rel="stylesheet" href="http://localhost:5173/src/map.scss" />
    {% else %}
    <link rel="stylesheet" href="{% static 'netbox_c3nav/vite/map.css' %}" />
    {% endif %}
{% endblock %}

{% block controls %}
  <div class="btn-list justify-content-end mb-2">
    {# Add/edit/delete/etc. buttons #}
    {% block control-buttons %}

      {# Extra buttons #}
      {% block extra_controls %}{% endblock %}

      {# Default buttons #}
      {% if perms.extras.add_bookmark and object.bookmarks %}
        {% bookmark_button object %}
      {% endif %}
      {% if not edit and perms.netbox_c3nav.add_deviceposition %}
        <a href="{% url 'plugins:netbox_c3nav:map_edit' %}" class="btn btn-yellow" role="button">
          <i class="mdi mdi-pencil" aria-hidden="true"></i> Edit
        </a>
      {% endif %}
      {% if edit %}
        <button id="unlockMarkers" type="button" class="btn btn-yellow" title="Make markers moveable">
          <i class="mdi mdi-map-marker-right" aria-hidden="true"></i> Unlock Markers
        </button>
        <a href="{% url 'plugins:netbox_c3nav:map' %}" class="btn btn-primary" role="button">
          <i class="mdi mdi-map-search" aria-hidden="true"></i> View
        </a>
      {% endif %}
    {% endblock control-buttons %}
  </div>
{% endblock controls %}

{% block content %}
    {{ block.super }}
    {# we need the csrf token in the JS to make POST/PUT/PATCH API requests #}
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">

    {% with config=settings.PLUGINS_CONFIG.netbox_c3nav %}
        <div id="map" class="c3nav c3nav-map" data-settings="{{ frontend_settings | json }}"></div>
        {% if edit %}
        <div class="map-item-list">
            <h2>Un-Positioned Items</h2>
            <ul class="list-group map-unpositioned-items">
                {% for item in unpositioned_items %}
                <li class="list-group-item" data-id="{{ item.id }}" data-name="{{ item.name }}" data-description="{{ item.description }}" date-url="{% url 'dcim:device' item.id %}">
                    {{ item }} <span class="text-secondary">in {{ item.location }}</span>
                    {% if item.description %}<br><span class="text-secondary">{{ item.description }}</span>{% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block javascript %}
    {% if settings.DEVELOPER %}
    <script type="module" src="http://localhost:5173/src/map.ts"></script>
    {% else %}
    <script type="module" src="{% static 'netbox_c3nav/vite/map.js' %}"></script>
    {% endif %}
{% endblock %}